@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap'); /*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;900&family=Noto+Serif+KR:wght@500&display=swap');


.content {
    font-family: 'Noto Sans KR';
    float:right;
}

.status {
    font-family: 'Noto Sans KR';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebefd6;
}

.info-section{
    font-family: 'Noto Sans KR';
    font-weight: bold;
    background-color: #ebefd6;
    display:flex;
    justify-content: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.info-block{
   width:100%;
   text-align: center;
   font-size: 25px;
   padding: 22px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-bottom: 0;
}

#product-reviews{
    background-color: #c9d8b7;
}

.info-block:hover{
    background-color: #c9d8b7;
}

.question{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
}

.seller-review {
    margin-top: 0;
    margin-bottom: 0;
}

.evaluation-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars{
    display: flex;
    direction: flex-end;
}

.star-rating{
    font-size: 25px;
    color: gray;
}

.star-rating .star{
    color: #d3d3d3;
    cursor: pointer;
}

.star-rating .star.filled{
    color: gold;
}

.review-title{
    width:1200px;
    padding:20px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    border:2px solid black;
}

.input-container #review{
   width: 1200px;
   padding: 20px;
   height: 100px;
   font-family: 'Noto Sans KR';
   font-size: 18px;
   margin-top: 10px;
   border: 2px solid black;
}

.input-container2 #pro-review{
    width: 1200px;
    flex: 1;
    padding: 20px;
    height: 100px;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    border: 2px solid black;
    resize: vertical;
    outline: none;
    margin-top: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items:left;
    width: 80%;
    margin: 0 auto;
}

.submit-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top:20px;
}

.submit-button {
    background-color: #ebefd6;
    color: black;
    border: 2px solid black;
    font-family: 'Noto Sans KR';
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    margin: 4px 2px; 
    transition: background-color 0.3s, opacity 0.3s; 
    cursor: pointer; 
}

.submit-button:hover{
  background-color: #c9d8b7; 
  opacity: 0.6; 
}

