@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap'); /*폰트*/

.pw-texting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pw-texting p{
    font-family: 'Do Hyeon';
    text-align:center;
}