@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap'); /*폰트*/

.checking-form {
    font-family: 'Noto Sans KR';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    margin-top: 200px;
}

.chk-area {
    display: flex;
    align-items: baseline;
    margin: 5px 0; 
}

.chk-area label {
    font-size: 25px;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

.chk-area input {
    width: 200px;
    font-size: 25px;
}

.align{
    display: flex;
    justify-content: center;
}

.btn-chk{
    width: 150px;
    height: 45px;
    margin-top: 10px;
    font-family: "Noto Sans KR";
    font-size: 20px;
    background-color: #c9d8b7;
    border: none;
    margin-left:10px;
    transition: background-color 0.3s, opacity 0.3s; 
    color: black;
}

.btn-chk:hover{
    background-color: #c9d8b7; 
    opacity: 0.6; 
}

.pw-texting{
    font-family: 'Noto Sans KR';
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center; 
    margin-top:200px;
    font-family: 'Noto Sans KR';
    font-size:25px;
}.back_btn{
    width: 450px;
    height: 50px;
    margin-top: 20px;
    font-family: "Noto Sans KR";
    font-size: 23px;
    background-color: #c9d8b7;
    border: none;
    transition: background-color 0.3s, opacity 0.3s; 
    color: black;
 }
 
 .back_btn:hover{
     background-color: #c9d8b7; 
     opacity: 0.6; 
 }