@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap'); /*폰트*/

.content {
  font-family: 'Do Hyeon';
  float:right;
}

.info-section{
  font-family: 'Do Hyeon';
  background-color: #ebefd6;
  display:flex;
  justify-content: column;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.info-block{
 width:100%;
 text-align: center;
 font-size: 25px;
 padding: 22px;
 cursor: pointer;
 transition: background-color 0.3s;
 margin-bottom: 0;
}

.info-block:hover{
  background-color: #c9d8b7;
}

.all {
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  
}

.seller {
  display: flex;
  width:1000px;
  align-items:center;
}

.seller-info {
  display: flex;
  flex-direction: column;
}

.seller-img {
  width: 400px;
  height: 300px;
  margin: 50px; 
}


.review-box {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.review-title input {
  width: 50%; 
}

.rating {
  display: flex;
  margin: 10px 0;
}

.things-img{
  width: 400px;
  height: 300px;
  margin: 50px; 
}